html {
    --background: #252525
}

body {
    background: #efefee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #273220;
}

.scene {
    background: var(--background);
    border: 3px solid #ddd;
    border-radius: 4px;
}

.scene>.brick {
    /*background: #ec2de7;*/
    background: white;
    border: 2px solid var(--background);
    box-sizing: border-box;
    border-radius: 2px;
}

.scene>.brick.disabled {
    opacity: 0.1;
}

.scene>.plate {
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
}

.scene>.ball {
    background: #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
}

/* Neon theme override */

body.neon .scene>.plate {
    background: black;
    border: 2px solid #7accff;
    box-shadow: 0 0 10px #00ffea;
}

body.neon .scene>.ball {
    background: #ff00f2;
    border: 2px solid #ff00f2;
    box-shadow: 0 0 10px 1px #ff006a;
}